.Scp {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  background: #000;
  border-radius: 2px;
  padding: 2px!important;
  display: flex;
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  z-index: 3;
}

.Scp:before {
  content: '';
  display: block;
  position: absolute;
  top: -1rem;
  right: 2.25rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1rem 1rem 1rem;
  border-color: transparent transparent #000 transparent;
}

.Scp-saturation {
  position: relative;
  height: 100%;
  background: linear-gradient(to right, #fff, #f00);
}

.Scp-brightness {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,255,255,0), #000);
}
.Scp-sbSelector {
  border: 2px solid #fff;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 10px;
  top: -7px;
  left: -7px;
  box-sizing: border-box;
  z-index: 10;
}
.Scp-hue {
  width: 21px;
  height: 100%;
  position: relative;
  background: linear-gradient(#f00 0%, #f0f 17%, #00f 34%, #0ff 50%, #0f0 67%, #ff0 84%, #f00 100%);
}
.Scp-hSelector {
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #000;
  right: -3px;
  width: 10px;
  height: 2px;
}
